.menu-container {
    position: absolute;
    left: 7%;
    top: 28%;
    width: 26%;
    height: 23%;
    z-index: 5;
}

.menu-container-About {
    position: absolute;
    left: 52%;
    top: 10vw;
    width: 26%;
    height: 23%;
    z-index: 5;
}
  
.menu {
    position: absolute;
    left: 0%; /* Original position */
    top: 0%; /* Original position */
    width: 100%; /* Original size */
    height: auto; /* Maintain aspect ratio */
    z-index: 2;
}
  
.styled-text-common {
    position: absolute;
    top: 0%;
    left: 30%;
    font-size: 3vw;
    color: #fff;
    z-index: 5;
    transform: var(--transform);
}

.styled-text-common-Work {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 3vw;
    color: #fff;
    z-index: 5;
    transform: var(--transform);
}
  
.styled-text1 {
    --transform: translateY(-20%);
}
  
.styled-text2 {
    --transform: translateY(140%);
}
  
.styled-text3 {
    --transform: translateY(300%);
}
  
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px); 
    }
    100% {
      transform: translateY(0); 
    }
}
  
.id {
    position: absolute;
    left: 11.5%;
    top: 9%;
    width: 13%;
    height: auto;
    z-index: 2;
    animation: float 2s ease-in-out infinite; 
}
  
.save {
    position: absolute;
    left: 13.3%;
    top: 32%;
    width: 9%;
    height: auto;
    z-index: 2;
    animation: float 2s ease-in-out infinite; 
}
  
.phone {
    position: absolute;
    left: 14%;
    top: 51%;
    width: 7%;
    height: auto;
    z-index: 2;
    animation: float 2s ease-in-out infinite; 
}

.id-About {
    position: absolute;
    left: 3.5vw;
    top: 1vw;
    width: 10%;
    height: auto;
    z-index: 2;
    animation: float 2s ease-in-out infinite; 
}
  
.save-About {
    position: absolute;
    left: 3.5vw;
    top: 6vw;
    width: 9%;
    height: auto;
    z-index: 2;
    animation: float 2s ease-in-out infinite; 
}
  
.phone-About {
    position: absolute;
    left: 3.7vw;
    top: 10vw;
    width: 7%;
    height: auto;
    z-index: 2;
    animation: float 2s ease-in-out infinite; 
}